
@media (max-width:1200px){
    .pc{display:none;}
    .lg{display:block;}
}

@media (max-width:900px){
    header .lg{display:none;}
    .minlg{display:block;}
}

@media (max-width:700px){
    footer .lg{display:none;}
    .minlg{display:none;}
    .mobile{display:block;}
}

@media (max-width:700px){
    section{
        padding:20px 0 !important;
    }
    .flexa{
        display:flex;
        flex-direction:column-reverse;  
    }
    .trackbox{
           margin-bottom:20px;
    }
    .formbox .box{
        padding:30px 15px !important;
    }
 
}