@font-face{
  font-family:'reg';
  src:url('reg.ttf');
}

@font-face{
  font-family:'sb';
  src:url('sb.ttf');
}

@font-face{
  font-family:'b';
  src:url('b.ttf');
}

*{
  outline:none;
  box-sizing:border-box;
  font-family:'reg', sans-serif;
  max-width:100%;
}
body{
  background:#f6f7f8;
}
h1,h2,h3,h4,h5{
  font-family:sb; 
}


header i{
  padding:0 8px;
  font-size:1.3em;
  color:#414141;
}

header{
  background:#fafafa;

}
header img{
  width:100%;
}
section{
  padding:20px;
}


section i{
  color:#004a98 !important;
}

.trackbox{
  width:100%;
  border:1px solid #dfdfdf;
  text-align:left;
  background:white;
  font-size:0.9em;
}

.trackbox h5{
  font-size:1.1em;
}
.trackbox .box{
  border-bottom:1px solid #dfdfdf;
  padding:10px;
}




.formbox h5{
  font-size:1em;
}

.formbox .box{
  background:white;
  padding:30px;
  border:1px solid #dfdfdf;
  margin-bottom:20px;
}


input.error{
  background:#fef7f7;
  border:1px solid #b34141;
  color:red;
}
input.error::placeholder{
     color:#c68181;
}

footer{
  margin-top:80px;
}

footer img{
  width:100%;
}


.mobile{
  display:none;
}
.lg{
  display:none;
}
.minlg{
  display:none;
}

.window{
  z-index:999;
   background:rgba(255,255,255,0.95);
   position:fixed;
   top:0;
   left:0;
   width:100%;
   height:100%;
}

.loader{
   display:flex;
   align-items:center;
   justify-content:center;
   height:100%;
   text-align:center;
   font-size:0.em;
}

.loader img{
   width:50px;
   margin:10px 0;
}
